<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <php>
    <env name="APP_ENV" value="test" />
    <server name="KERNEL_CLASS" value="SimpleSAML\Test\Module\oauth2\TestKernel" />
  </php>
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
    </exclude>
    <report>
      <clover outputFile="./report/clover.xml"/>
      <html outputDirectory="./report/html-coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
  </extensions>
</phpunit>